{% extends 'base.html' %}
{% load static %}

  
{% block contenido %}
              <span class="navbar-text">
                {% if user.is_authenticated %}
                  <span class="navbar-text">{{user.username}}</span>
                  <a href="{% url 'logout' %}" type="submit" class="btn btn-outline-light">Salir</a>
                {% else %}
                  <a type="submit"class="btn btn-outline-light" href="{% url 'login' %}">Ingresar</a>
                  <a type="button" class="btn btn-light text-dark" href="{% url 'usuarios:register' %}">Registrate</a>
                {% endif %}
              </span>
        </div>
    </nav>

   
    <div class="jumbrotron bg-jumbotron d-flex flex-column justify-content-center align-items-center text-white text-center">
      <img src="{% static 'img/CHACUNTADOSlogo.png' %}" alt="" width="200" height="200">
      <p class="fw-bold lead w-75"> Ingresá y pone en juego tus conocimientos sobre nuestra provincia</p>
      <a class="btn btn-success" href="{% url 'juego:jugar' %}" >Jugar</a>
    </div>


{% endblock contenido %}