{% extends 'base.html' %}
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
{% block contenido %}
	<div class="navbar-text"></div>
        <span class="navbar-text">{{user.username}}</span>
         <a href="{% url 'logout' %}" type="submit" class="btn btn-outline-light">Salir</a>
            
     </div>
</nav>



<p>{{jugador.username}}</p>

	<h1 style="color: green;">FIN DE JUEGO {{user.username}} !!</h1>
	<h2 style="color: darkorange;">puntaje: {{puntos}}</h2>

	<a class = "btn btn-success" href="{% url 'juego:jugar'%}">Otra partida ?</a>
	<a class = "btn btn-success" href="{% url 'logout'%}">Salir</a>
	




{% endblock contenido %}
</body>
</html>